nav > .navbar {
  background-color: blue;
  color: white;
  display: flex;
  justify-content: space-around;
  padding: 0.5rem;
  /* flex-direction: row; */
  text-decoration: none;
}
/* nav > ul > li > Link > span {
  color: white;
} */
nav > .navbar > li > a {
  text-decoration: none;

  color: white;
}
